main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.main-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.addToCart-button {
  display: inline-block;
  width: 100%;
}
